# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
py_market/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# SQLite databases
*.sqlite3
*.db

# Environment variables
.env
.env.local

# Docker
docker-compose.override.yml

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checker
.mypy_cache/
.pytype/

# Jupyter
.ipynb_checkpoints

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Temporary files
*.swp
*.swo